<% provide(:title, '') %>

<% if signed_in? %>
    <div class="row">
      <aside class="span4">
        <section>
        </section>
        <section>
        </section>
      </aside>
      <div class="span8">
      </div>
    </div>
<% else %>
    <div class="center hero-unit">
      <h2>
        变电检修中心车辆使用状态
      </h2>
      <div class="span8">
      </div>
    </div>

<% end %>