<div class="left">
  <div class="nav">
    <!-- 下面每个li对应一个页面，具体是哪一个页面，把对象的li加上class＝"set"即可 -->
    <!-- i的class代表图标，如icon1,icon2等，只需求根据需要选用即可，可选值1－12 -->
    <h3>举报处理大厅</h3>
    <ul>
      <li class='set'><a href="1.html" class="link"><i class="icon1"></i>全部举报</a></li>
      <li><a href="2.html" class="link"><i class="icon2"></i>不实信息</a></li>
      <li><a href="#" class="link"><i class="icon3"></i>泄露他人隐私</a></li>
      <li><a href="#" class="link"><i class="icon4"></i>人身攻击</a></li>
      <li><a href="#" class="link"><i class="icon5"></i>内容抄袭</a></li>
      <li><a href="#" class="link"><i class="icon6"></i>冒充他人</a></li>
      <li><a href="#" class="link"><i class="icon7"></i>骚扰他人</a></li>
      <li><a href="#" class="link"><i class="icon8"></i>其它</a></li>
    </ul>
    <h3>微博社区委员会</h3>
    <ul>
      <li><a href="#" class="link"><i class="icon9"></i>全部举报</a></li>
      <li><a href="#" class="link"><i class="icon10"></i>不实信息</a></li>
      <li><a href="#" class="link"><i class="icon11"></i>泄露他人隐私</a></li>
      <li><a href="#" class="link"><i class="icon12"></i>人身攻击</a></li>
    </ul>
  </div>
</div>