<div class="left">
  <div class="nav">
    <!-- 下面每个li对应一个页面，具体是哪一个页面，把对象的li加上class＝"set"即可 -->
    <!-- i的class代表图标，如icon1,icon2等，只需求根据需要选用即可，可选值1－12 -->
    <h3>管理系统</h3>
    <ul>
      <li class='set'><a href="＃" class="link"><i class="icon7"></i>出差管理</a></li>
      <li><a href="#" class="link"><i class="icon4"></i>车辆管理</a></li>
      <li><a href="#" class="link"><i class="icon2"></i>司机管理</a></li>
      <li><a href="#" class="link"><i class="icon9"></i>工作班组管理</a></li>
      <li><a href="#" class="link"><i class="icon11"></i>工作人员管理</a></li>
      <li><a href="#" class="link"><i class="icon6"></i>目的地信息</a></li>
      <li><a href="#" class="link"><i class="icon5"></i>事由选项</a></li>
    </ul>
    <h3>出差历史信息查询</h3>
    <ul>
      <li><a href="#" class="link"><i class="icon8"></i>工作人员信息</a></li>
      <li><a href="#" class="link"><i class="icon12"></i>司机信息</a></li>
    </ul>
  </div>
</div>