<div class="container">
  <div id="header" class="row">
    <div class="span12">
      <ul class="nav-right-top">
        <li class="active"><a href="#">首页</a></li>
        <li><a href="#">登录</a></li>
      </ul>
    </div>
  </div>
</div>