<% provide(:title, '出差管理') %>

<div class="content span9">
  <h3>出差管理</h3>
  <%= form_for(@trip) do |f| %>
  <div class="chosen">
      <%= f.label :user_ids, "Users" %><br />
      <%= f.collection_select :user_ids, User.order(:name), :id, :name, {}, {multiple: true} %>
  </div>
  <% end %>
</div>
