.content {
  margin-left: -15px;
  padding-right: 0;
  margin-right: 0;
}

.span4 {
  width: 335px;
}

.span9 {
  width: 735px;
}

.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
  background-color: #b9e9bb;
}

.dataTables_scroll {
  margin-bottom: 8px;
}

#chzn-car-select {
  width: 250px;
}

#chzn-driver-select {
  width: 120px;
}

#chzn-group-select {
  width: 135px;
}

#chzn-worker-select {
  width: 250px;
}

#chzn-destination-select {
  width: 135px;
}


.icon-edit {
  margin-top: 5px;
}

.icon-remove {
  margin-top: 5px;
  margin-left: 3px;
}

#title {
  margin-bottom: 20px;
  font-size: 1.1em;
}

.span8 {
  margin-left: -10px;
  margin-top: 2px;
}



