/*
 *= require jquery.ui.datepicker
 */

.content {
  margin-left: -15px;
  padding-right: 0;
  margin-right: 0;
}

.span4 {
  width: 335px;
}

.span9 {
  width: 735px;
}

/*表格*/

.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
  background-color: #b9e9bb;
}

.dataTables_scroll {
  margin-bottom: 8px;
}

.icon-edit {
  margin-top: 5px;
}

.icon-remove {
  margin-top: 5px;
  margin-left: 3px;
}

/*表单*/
#chzn-car-select {
  width: 250px;
}

#chzn-driver-select {
  width: 120px;
}

#chzn-group-select {
  width: 135px;
}

#chzn-worker-select {
  width: 250px;
}

#chzn-destination-select {
  width: 135px;
}

#inputDeparture_time {
  width: 100px;
}

#inputBack_time {
  width: 100px;
}

#chzn-note-select {
  width: 145px;
}


.cancle {
  margin-left: 4px;
}


/*附页标题*/
#title {
  margin-bottom: 20px;
  font-size: 1.1em;
}

.span8 {
  margin-left: -10px;
  margin-top: 2px;
}


/*日期选择图标*/
.icon-calendar {
  margin-top: 7px;
}

.controls-row [class*="span"] + [class*="span"]{
  margin-left: 3px;
}



