<div class="container">
  <div class="row">
    <div id="footer" class="span12">
      <small>
        <a href="＃">江西电力公司检修分公司</a>
        ｜变电检修中心
      </small>
        <ul>
          <li><small><%= link_to "关于", about_path %></small>
          </li>
          <li><small><%= link_to "技术支持", contact_path %></small>
          </li>
        </ul>
    </div>
    <div class="span12">
      <%= debug(params) if Rails.env.development? %>
    </div>
  </div>
</div>